# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
venv/
env/
.venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Local databases & run data
*.db-journal
data/*.db-journal

# Logs
*.log

# Operating System files
.DS_Store
Thumbs.db

# IDE configuration
.vscode/
.idea/
